<div class="dialog-container">
    <h2>Change password</h2>
    <mat-divider class="devider-line"></mat-divider>
    <div class="field-container">
        <mat-icon class="side-icon">vpn_key</mat-icon>
        <mat-form-field class="form-field" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput [(ngModel)]="password">
        </mat-form-field>
    </div>
    <mat-divider class="devider-line"></mat-divider>
    <button mat-raised-button class="submit-button" color="primary" (click)="submit()">Apply</button>
</div>