.dialog-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.devider-line{
    width: 100%;
    margin-bottom: 2%;
}

.form-field{
    flex-grow: 1;
}

.side-icon{
    margin-top: 15px;
    margin-right: 5px;
}

.submit-button{
    margin-top: 2%;
}
