<div class="main-container">
    <mat-divider class="devider-line"></mat-divider>
    <h2>Registration</h2>
    <mat-divider class="devider-line"></mat-divider>

    <mat-stepper class="stepper" orientation="vertical" [linear]="true" #stepper>

        <mat-step>
            <div class="step-form-container">
                <ng-template matStepLabel>Enter your new account credentials</ng-template>
                <div class="field-container">
                    <mat-icon class="side-icon">account_circle</mat-icon>
                    <mat-form-field class="form-field" appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput [(ngModel)]="email" placeholder={{emailExample}} pattern="{{emailPattern}}"
                            #emailInput="ngModel" [class.is-invalid]="emailInput.invalid && emailInput.touched"
                            (change)="checkEmail($event)" required>
                        <mat-error *ngIf="emailInput.touched && emailInput.invalid">{{emailErrorMessage_Invalid}}
                        </mat-error>
                        <mat-hint *ngIf="emailError" class="warning-message">{{emailErrorMessage_Taken}}</mat-hint>
                    </mat-form-field>
                </div>
                <br />
                <div class="field-container">
                    <mat-icon class="side-icon">vpn_key</mat-icon>
                    <mat-form-field class="form-field" appearance="fill">
                        <mat-label>Password</mat-label>
                        <input matInput [(ngModel)]="password" #passwordInput="ngModel"
                            [type]="passwordHide ? 'password' : 'text'" required>
                        <button mat-icon-button matSuffix (click)="passwordHide = !passwordHide"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="passwordHide">
                            <mat-icon>{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="passwordInput.touched && emailInput.invalid">{{passwordErrorMessage}}
                        </mat-error>
                        <mat-hint
                            *ngIf="passwordInput.touched && passwordInput.value.length<5 && passwordInput.value.length>0"
                            class="warning-message">{{passwordHint}}</mat-hint>
                    </mat-form-field>
                </div>
                <br />
                <div class="field-container">
                    <mat-icon class="side-icon">vpn_key</mat-icon>
                    <mat-form-field class="form-field" appearance="fill">
                        <mat-label>Confirm password</mat-label>
                        <input matInput [(ngModel)]="passwordRep" #passwordRepInput="ngModel" pattern="{{password}}"
                            minlength="{{password.length}}" maxlength="{{password.length}}"
                            [type]="passwordHide ? 'password' : 'text'" required>
                        <button mat-icon-button matSuffix (click)="passwordHide = !passwordHide"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="passwordHide">
                            <mat-icon>{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="passwordRepInput.touched && passwordRepInput.errors">
                            {{passwordRepErrorMessage}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <br />
            <div>
                <button mat-stroked-button color="primary" matStepperNext>Next</button>
            </div>
        </mat-step>

        <mat-step>
            <div class="step-form-container shorter">
                <ng-template matStepLabel>Fill out your personal information</ng-template>
                <div class="field-container info-field">
                    <mat-form-field class="form-field" appearance="fill">
                        <mat-label>First Name</mat-label>
                        <input matInput [(ngModel)]="firstName" required>
                    </mat-form-field>
                </div>
                <div class="field-container info-field">
                    <mat-form-field class="form-field" appearance="fill">
                        <mat-label>Last Name</mat-label>
                        <input matInput [(ngModel)]="lastName" required>
                    </mat-form-field>
                </div>
                <div class="field-container info-field">
                    <mat-form-field class="form-field" appearance="fill">
                        <mat-label>Birthdate</mat-label>
                        <input matInput [matDatepicker]="birthDatePicker" (dateChange)="newDate($event)" required>
                        <mat-hint>DD/MM/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="birthDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #birthDatePicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="field-container info-field">
                    <mat-form-field class="form-field" appearance="fill">
                        <mat-label>Gender</mat-label>
                        <mat-select [(ngModel)]="userGender" required>
                            <mat-option *ngFor="let gender of gendersList" [value]="gender">
                                {{gender}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="field-container">
                    <mat-form-field class="form-field" appearance="fill">
                        <mat-label>Phone number</mat-label>
                        <input matInput [(ngModel)]="phoneNumber" maxlength="{{phoneNumberLength}}"
                            minlength="{{phoneNumberLength}}" (keypress)="checkChar($event)"
                            required>
                        <mat-icon matSuffix>phone</mat-icon>
                    </mat-form-field>
                </div>
            </div>
            <div>
                <button mat-stroked-button color="primary" matStepperPrevious>Back</button>
                <button mat-stroked-button color="primary" matStepperNext>Next</button>
            </div>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>Profile picture</ng-template>
            <div (mouseover)="showBadge=true" (mouseleave)="showBadge=false" class="step-form-container picture-step">
                <div class="profile-picture-div">
                    <button mat-mini-fab *ngIf="showBadge&&userPictureExists" color="primary" class="badge"
                        (click)="deletePhoto()">
                        <mat-icon class="badge-icon">cancel</mat-icon>
                    </button>
                    <img class="profile-picture" src="{{defaultPicturePath}}" />
                </div>
                <br />
                <button mat-raised-button color="primary" (click)="openUploadDialog()">Upload</button>
            </div>
            <div>
                <button mat-stroked-button color="primary" matStepperPrevious>Back</button>
                <button mat-stroked-button color="primary" matStepperNext>Next</button>
            </div>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <br />
            <div class="step-form-container-register">
                <button mat-raised-button class="register-button" (click)="registerNow()">Register now</button>
                <h3 *ngIf="registrationError" class="warning-message">{{registrationErrorMessage}}</h3>
            </div>
        </mat-step>

    </mat-stepper>
</div>
<app-footer-component class="footer"></app-footer-component>